/**
 * Created by Carlos Canela on 07/02/20.
 */
.sectores-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.sectores-container .sector-card{
  display: block;
  width:100%;
  flex: 0 0 30%;
  max-width: 30%;
  text-decoration: none;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
  text-align: center;
  padding: 1rem;
  background-color: #cbcaca;
}
.sectores-container .sector-card img{
  width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.sectores-container .sector-card span{
  display: block;
  width: 90%;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.3rem auto 0;
  color: #333;
}

@media (max-width: 767px) {
  .sectores-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .sectores-container .sector-card {
    flex: none;
    max-width: 80%;
    -webkit-border-radius: 0.6rem;
    border-radius: 0.6rem;
    padding: 1rem;
    margin-bottom: 1.2rem;
  }
}
