/**
 * Created by Carlos Canela on 11/02/20.
 */
.tab-concepto-menu {
    /*background-color: #eaeaea;*/
    border-right: 1px solid #cacaca;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.tab-concepto-menu ul.nav {
    flex-direction: column;
    flex-wrap: nowrap;
}

.tab-concepto-menu ul.nav li.nav-item {
    display: block;
    border-bottom: 1px solid #cacaca;
}

.tab-concepto-menu ul.nav li.nav-item .nav-link {
    color: #333;
    padding: 1rem 0.5rem;
}

.tab-concepto-menu ul.nav li.nav-item .nav-link.active {
    color: #a50f3d;
    font-weight: bold;
}

@media (max-width: 767px) {
    .tab-concepto-menu {
        overflow-y: hidden;
        overflow-x: auto;
        padding: 0 0.6rem;
        border: 0;
        margin-bottom: 0.75rem;
    }

    .tab-concepto-menu ul.nav {
        flex-direction: row;
    }

    .tab-concepto-menu ul.nav li.nav-item {
        border: 1px solid #cacaca;
        border-bottom: 0;
        margin-right: 0.2rem;
    }
}

.tab-concepto-main {
}

.tab-concepto-main .tab-pane .concepto-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.tab-concepto-main .tab-pane .concepto-title h1 {
    display: block;
    max-width: 80%;
    font-size: 2.2rem;
}

.tab-concepto-main .tab-pane .concepto-title .seccion-badge {
    display: block;
    width: 15%;
    margin: 0.2rem auto;
    height: auto;
    -webkit-border-radius: 0.4rem;
    border-radius: 0.4rem;
    background-color: #eeeded;
    padding: 0.6rem;
}

.tab-concepto-main .tab-pane .concepto-title .seccion-badge img {
    width: 75%;
    height: auto;
    margin: auto;
    display: block;
}

.tab-pane .concepto-programa {
    display: block;
    font-style: italic;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 0.2rem;
}
.tab-pane .concepto-programa p {
    margin-bottom: 0.2rem;
}

.tab-pane .concepto-tipo{
    font-size: 0.85rem;
    font-style: italic;
}

.tab-pane > section {
    color: #504d4f;
    margin: 0.7rem 0;
}

.tab-pane > section h3 {
    font-size: 1.25rem;
}

.tab-pane > section ul li {
    text-transform: capitalize;
}


.tab-concepto-main #concepto-tab {
}

section.concepto-meta {
    width: 90%;
    margin: 1rem auto;
}

section.concepto-meta .card {
    font-weight: lighter;
    /*height: 100%;*/
    color: #616060;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

section.concepto-meta .card .card-title {
    margin-bottom: .5rem;
    font-size: 1rem;
    text-align: center;
    background-color: #a50f3d;
    padding: 0.3rem;
    color: #fff;
    font-weight: bold;
    flex: 0 0 100%;
}

section.concepto-meta .card .card-img-top {
    width: 15%;
    flex: 0 0 15%;
    margin: 0.5rem;
}

section.concepto-meta .card .card-body {
    border-left: 1px solid #cccccc;
    padding: 0.5rem;
    flex: 0 0 80%;
    margin: 0.5rem 0 1rem;
}
section.concepto-meta .card .card-body ul{
    column-count: 3;
}

@media (max-width: 767px) {
    section.concepto-meta {
        width: 98%;
        margin: 1rem auto;
    }

    section.concepto-meta .card {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    section.concepto-meta .card .card-title {
        flex: none;
    }

    section.concepto-meta .card .card-img-top {
        width: 45%;
        flex: none;
        margin: 0.5rem auto;
    }

    section.concepto-meta .card .card-body {
        border-top: 1px solid #cccccc;
        border-left: none;
        padding: 0.5rem;
        flex: none;
        margin: 0.5rem;
    }
}
