/**
 * Created by Carlos Canela on 10/02/20.
 */
.inner-page #content_container {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#side_bar-tipoconcepto {
    background-color: #eaeaea;
    overflow-x: hidden;
    height: auto;
}

#side_bar-tipoconcepto .sector-icon {
    display: block;
    margin: 2rem auto;
    width: 65%;
    height: auto;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    background-color: #cbcaca;
    padding: 1rem;
}

#side_bar-tipoconcepto .sector-icon img {
    width: 75%;
    height: auto;
    margin: auto;
    display: block;
}

#side_bar-tipoconcepto ul.conceptos-tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 0 20%;
    flex-direction: column;
    width: calc(80% + 15px);
    margin-bottom: 5rem;
}

#side_bar-tipoconcepto ul.conceptos-tabs li {
    list-style: none;
    display: block;
    background-color: #A1A0A0;
    padding: 1.2rem 0.75rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

#side_bar-tipoconcepto ul.conceptos-tabs li.active {
    -webkit-box-shadow: 0 0 6px 0 rgba(33, 33, 33, 0.6);
    box-shadow: 0 0 6px 0 rgba(33, 33, 33, 0.6);
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow 600ms ease-in-out;
    -moz-transition: box-shadow 600ms ease-in-out;
    -ms-transition: box-shadow 600ms ease-in-out;
    -o-transition: box-shadow 600ms ease-in-out;
    transition: box-shadow 600ms ease-in-out;
}

#side_bar-tipoconcepto ul.conceptos-tabs li a {
    display: block;
    color: #fff;
}

#side_bar-tipoconcepto ul.conceptos-tabs li.active a {
    color: #616060;
}

@media (max-width: 767px) {
    #side_bar-tipoconcepto {
        display: flex;
        align-items: flex-end;
        padding-top: 0.5rem;
    }

    #side_bar-tipoconcepto.fixed-tab {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
    }

    #side_bar-tipoconcepto .sector-icon {
        margin: 0 0.5rem 0 0;
        -webkit-border-radius: 0.25rem;
        border-radius: 0.25rem;
        padding: 0.4rem;
        height: fit-content;
    }

    #side_bar-tipoconcepto ul.conceptos-tabs {
        flex: 0 0 77%;
        width: inherit;
        flex-direction: row;
        margin: 0;
        overflow-x: auto;
        overflow-y: hidden;
        height: fit-content;
    }

    #side_bar-tipoconcepto ul.conceptos-tabs li {
        padding: 0.7rem 0.75rem;
        margin-bottom: 0;
        border-right: 1px solid #bdbdbd;
    }

    #side_bar-tipoconcepto ul.conceptos-tabs li a {
        white-space: nowrap;
    }
}

#main-conceptos_list {
    margin-bottom: 2rem;
    background-color: #fff;
}

#main-conceptos_list #buscador_filtro {
    display: flex;
    width: 100%;
    margin: 0 0 1rem;
    padding: 0;
    border: 0;
    border-bottom: 1px solid #cccccc;
    background-color: #f5f5f5;
    justify-content: space-around;
    align-items: stretch;
    height: 2rem;
}

#main-conceptos_list #buscador_filtro .icon {
    border: 0;
    margin: 0;
    /*padding: 0.5rem;*/
    background-color: transparent;
    outline: 0;
    /*max-height: 1.5rem;*/
}

#main-conceptos_list #buscador_filtro .text-input {
    background-color: transparent;
    margin: 0;
    padding: 0.5rem 0.7rem;
    border: 0;
    outline: 0;
    /*max-height: 1.5rem;*/
    flex-basis: 95%;
}

#main-conceptos_list #product_filter {
    display: block;
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #0b2e13;
}

#main-conceptos_list #product_filter strong {
    color: #a50f3d;
}

@media (max-width: 767px) {
    #main-conceptos_list #buscador_filtro {
        margin: 0.5rem 0 0.5rem;
        justify-content: space-around;
        align-items: stretch;
        height: 1.75rem;
        flex-direction: row-reverse;
    }

    #main-conceptos_list #buscador_filtro .text-input {
        padding: 0.15rem 0.45rem;
        flex-basis: 90%;
        font-size: 0.85rem;
    }
}

#productosFiltroModal .modal-body {
    padding: 0.5rem 0;
}

#products_filter_container {
    max-height: 32rem;
    overflow-y: auto;
}

#products_filter_container .container-slide {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
}

#products_filter_container .container-slide .product_switch {
    display: block;
    position: relative;
    width: 100%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
    margin: 1rem 1.5%;
    height: 6rem;
    overflow: hidden;
    -webkit-border-radius: 0.3rem;
    border-radius: 0.3rem;
}

#products_filter_container .container-slide .product_switch img {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: saturate(0.15);
}

#products_filter_container .container-slide .product_switch .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+25,000000+100&0+25,0.65+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.85) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.85) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#products_filter_container .container-slide .product_switch .layer h6 {
    display: block;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
}

#products_filter_container .container-slide .product_switch input {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    outline: 0;
}

#products_filter_container .container-slide .product_switch.active {
    -webkit-box-shadow: -1px 1px 7px 0 rgba(100, 100, 100, 0.85);
    box-shadow: -1px 1px 7px 0 rgba(100, 100, 100, 0.85);
    -webkit-transition: -webkit-box-shadow 600ms ease-in-out;
    -moz-transition: box-shadow 600ms ease-in-out;
    -ms-transition: box-shadow 600ms ease-in-out;
    -o-transition: box-shadow 600ms ease-in-out;
    transition: box-shadow 600ms ease-in-out;
}

#products_filter_container .container-slide .product_switch.active img {
    filter: saturate(1);
}

#products_filter_container .container-slide .product_switch.active .layer {
    top: 55%;
    height: 45%;
    transition: top 600ms ease-in-out, height 600ms ease-in-out;
}

#products_filter_container .container-slide .product_switch.active .layer h6 {
    font-weight: bold;
    margin-top: 0.5rem;
}
