/**
 * Created by Carlos Canela on 12/02/20.
 */
/**** HERO **********/
#aviso_hero {
    /*display: block;*/
    overflow: hidden;
    position: absolute;
    margin-top: -48px;
    width: 100%;
    z-index: 1;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#aviso_hero .hero_reel {
    position: absolute;
    display: block;
    /*flex-wrap: nowrap;*/
    width: 400%;
    top: 0;
    left: 0;
    height: 100%;
}

#aviso_hero .hero_reel .hero_card {
    /*width: 100%;*/
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    float: left;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

#aviso_hero .hero_reel .hero_card::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f3f3f+0,3f3f3f+100&0+40,0.55+100 */
    background: -moz-linear-gradient(top, rgba(63, 63, 63, 0) 0%, rgba(63, 63, 63, 0) 40%, rgba(63, 63, 63, 0.55) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(63, 63, 63, 0) 0%, rgba(63, 63, 63, 0) 40%, rgba(63, 63, 63, 0.55) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(63, 63, 63, 0) 0%, rgba(63, 63, 63, 0) 40%, rgba(63, 63, 63, 0.55) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003f3f3f', endColorstr='#8c3f3f3f', GradientType=0); /* IE6-9 */
}

#aviso_hero .hero_card .container {
    margin-bottom: 90px;
    color: #fff;
    text-shadow: 1px 1px 3px #666666;
    z-index: 1;
}

#aviso_hero .hero_card h2 {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    font-size: 2.5rem;
}

#aviso_hero .pager {
    display: flex;
    position: absolute;
    bottom: 70px;
    left: 0px;
    width: 100%;
    list-style: none;
    z-index: 10;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#aviso_hero .pager li {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    background-color: rgba(165, 15, 61, 0.9);
    list-style: none;
    display: block;
    margin: 0 0.5rem;
}

#aviso_hero .pager li.active {
    background-color: #fff;
}

@media (max-width: 767px) {
    #aviso_hero {
        margin-top: 0;
        height: 450px;
        top: 66px;
    }

    #aviso_hero .hero_card h2 {
        font-size: 1.8rem;
    }

    #aviso_hero .hero_card .container {
        margin-bottom: 40px;
    }

    #aviso_hero .pager {
        bottom: 10px;
    }
}

/** TODO: carusel en home, y el resto del responsive... y obvio los WS */
@media (min-width: 768px) {

}

/******** SECCION BOLETINES**********/
#boletines_home {
}

#boletines_home .boletin_teaser {
    min-height: 200px;
    margin: 0;
    margin-bottom: 1.5rem;
}

#boletines_home .boletin_teaser .imagen {
    max-height: 200px;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#boletines_home .boletin_teaser .imagen img {
    height: auto;
    width: 100%;
}

#boletines_home .boletin_teaser .texto {
    color: #4e555b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#boletines_home .boletin_teaser .texto h2 {
    font-weight: bold;
    margin-bottom: 0.1rem;
}

#boletines_home .boletin_teaser .texto .fecha {
    font-size: 0.8rem;
    font-style: italic;
}

#boletines_home .boletin_teaser .texto .estracto {
    margin-top: 1rem;
}

#boletines_home .boletin_teaser .texto .link {
    text-align: right;
}

#boletines_home .boletin_teaser hr {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    outline: 0;
    border: 0;
    color: transparent;
    background-color: #f3f3f3;
    height: 1px;
    -webkit-box-shadow: 0 7px 13px 0 #3f3f3f;
    box-shadow: 0 7px 13px 0 #3f3f3f;
}

@media (max-width: 767px) {
    #boletines_home .boletin_teaser {
        margin-bottom: 2.1rem;
    }

    #boletines_home .boletin_teaser .texto {
        margin-top: 1.5rem;
        margin-bottom: 0.3rem;
    }
}

/**** SECCIONES ****/
#secciones_home {
}

#secciones_home .secccion_card {
    margin-bottom: 1.5rem;
}

#secciones_home .secccion_card .card-header {
    font-size: 1.7rem;
}

#secciones_home .secccion_card .card-header img {
    display: inline-block;
    height: 1.7rem;
    width: auto;
    vertical-align: middle;
}

/******* BANNERS *******/
#banners_home {
    margin-bottom: 1.5rem;
}

/******** CONTACTO ******/
#contacto_home {
}

#contacto_home .lista_ubicac {
    max-height: 250px;
    overflow: auto;
}

#contacto_home .lista_ubicac .list-group-item.active, #contacto_home .lista_ubicac .list-group-item-action:active {
    color: #fff;
    background-color: #a50f3d;
    border-color: #cbcaca;
}

@media (max-width: 767px) {
    #contacto_home .mapa_container .filtros_check .form-check {
        display: inline-block;
        margin-right: 0.1rem;
    }

    #contacto_home .lista_ubicac .list-group-item {
        padding: 0.35rem 0.55rem;
    }
}
