/**
 * Created by Carlos Canela on 12/23/2019.
 */
body {
  font-family: Montserrat;
}

#main_container {
  padding: 0;
}

#main_header {
  position: relative;
  background-color: #7f7a7c;
}

#main_header a.navbar-brand {
  z-index: 2;
}

#main_header a .logo {
  height: 40px;
  width: auto;
}

#main_header #brand_text {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
  margin: 0 -1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
}

/** NAV **/
#main_nav {
  z-index: 2;
  position: relative;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: transparent;
}

.inner-page #main_nav {
  background-color: #d7d7d7;
}

#main_nav ul {
  list-style: none;
  display: flex;
  /*width: 100%;*/
  justify-content: space-between;
  margin-bottom: 0;
  /*margin-top: 0.5rem;*/
}

#main_nav ul li {
  display: inline-block;
}
#main_nav ul li a {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 3px #666666;
}
.inner-page #main_nav ul li a {
  color: #7f7a7c;
  text-shadow: none;
  font-weight: normal;
}


@media (max-width: 767px) {
  #main_nav{
    background-color: rgba(202, 202, 202,0.75);
    color: #333;
    padding: 0.7rem 0;
    position: absolute;
    width: 100%;
    z-index: 100;
  }
  #main_nav ul.container{
    flex-direction: column;
    padding: 0 0.5rem;
    align-items: center;
  }
  #main_nav ul li a{
    color: #333;
    text-shadow: none;
    font-weight: normal;
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  #main_nav{
    display: block;
  }
}

/**** CONTENT CONTAINER ******/
#content_container {
  z-index: 2;
  position: relative;
  margin-top: 450px;
  background-color: #fbfbfb;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.inner-page #content_container {
  margin-top: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#main_container #main-title{
    font-size: 1.85rem;
    color: #3a3939;
    text-align: left;
}


/******* MAIN FOOTER ***/
#main_footer {
  background-color: #6c757d;
  color: #fff;
  padding-top: 2rem;
}

#main_footer .footer_links {
  list-style: none;
  padding: 0;
}

#main_footer .footer_links li {
}

#main_footer .footer_links li a {
  color: #fff;
}

#main_footer h6.footer_sect_hdr {
  font-weight: bold;
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  #main_footer{
    padding-top: 1rem;
  }
  #main_footer .container .col-md-3 img{
    width: 60%;
    margin: 0 auto 0.75rem;
    display: block;
  }
  #main_footer .footer_columns_container{
    text-align: center;
  }
  #main_footer h6.footer_sect_hdr {
    font-size: 0.85rem;
  }
}

#main-progress-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
    z-index: 999;
}
#main-progress-bar .progress-bar{
  background-color: #a50f3d;
}
#loader-layer{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(141,140,140,0.6);
}
