/**
 * Created by Carlos Canela on 14/02/20.
 */
#numeralia_piap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.5rem;
}
#numeralia_piap .cifra_card{
    text-align: center;
    font-size: 1.6rem;
    color: #a50f3d;
    /*padding: 0 0.5rem;*/
    border-right: 1px solid rgba(0,0,0,.125);
    flex-grow: 1;
}
#numeralia_piap .cifra_card:last-child{
    border-right: none;
}
#numeralia_piap .cifra_card span{
    display: block;
    font-size: 0.8rem;
    color: #333;
}
#timestamp{
    font-size: 0.65rem;
}
@media (max-width: 767px) {
    #main_container #main-title{
        margin-bottom: 1.5rem;
    }
    #numeralia_piap{
        display: block;
        flex-wrap: unset;
    }
    #numeralia_piap .cifra_card{
        border-right: none;
        flex-grow: unset;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    #numeralia_piap .cifra_card:last-child{
        border-bottom: none;
    }
}
#tabla_programas{
    font-size: 0.8rem;
}
#tabla_programas .thead-dark th{
    background-color: #a50f3d;
    color: #fff;
}
#tabla_programas.table .thead-dark th{
    border: 0;
}
#tabla_programas tbody .currency_presupuesto,#tabla_programas tbody .cantidad_beneficiarios{
    text-align: center;
}
#tabla_programas tbody .programa a{
    color: inherit;
    text-decoration: none;
}
#tabla_programas tbody .programa a:hover{
    text-decoration: none;
}

#tabla_programas th[data-target]{
    cursor: pointer;
}
#tabla_programas th[data-sort]::after{
    content: '▾';
    vertical-align: middle;
    margin-left: 0.2rem;
}
#tabla_programas th[data-sort='desc']::after{
    content: '▾';
}
#tabla_programas th[data-sort='asc']::after{
    content: '▴';
}
